.home-page-container {
    background-image: url("../assets/images/homepicture.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: center;
    
}

.inner-home-page-container {
    height: 80vh;
}




