.body-image {     
    background-image: url("../assets/images/homepicture.png");     
    position: fixed;     
    top: 5;     
    left: 0;     
    width: 100%;     
    height: 100%;     
    z-index: -1;     
    background-size: cover;     
    background-position: center;   
}

.inner-home-page-container {
    height: 80vh;
}




